
  * {
      font-family: Muli, Arial, Helvetica, sans-serif;
      box-sizing: border-box;
  }

  *:focus {
    outline:0!important;
  }

  html, body {
      margin: 0;
      padding: 0;
  }

  select {
    background-color: #fff !important;
    min-width: 220px;
    height: 40px;
    border: 1px solid #A0A1A2;
    border-radius: 3px;
  }

  .container {
    width: 100%;
    /* text-align: center; */
    padding: 0 1rem;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col"] {
    float: left;
    min-height: 1px;
    height: auto;
    padding: 0;
    border: 0;
}

[class*="row--"] {
    margin-top:10px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


nav .container .row {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}
nav .container .row .col-6 {
    text-align: right;
    color: #414446;
}

nav .container .row .col-6.logo-col {
    text-align: left;
}

.download-button a {
    padding: 1rem;
    border-radius: 3px;
    color: #fff;
    border: 0;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s;
    background-color: #BCC811;
    font-weight: bold;
    display: block;
    position: relative;
    float: left;
    margin-top: 1.5rem;
}
.download-button a:hover {
    background-color: #96A705 !important;
}


.testClass {
  color: #414446 !important;
}


body.testClass .container .row .col-6 {
  padding: 0 2.5rem;
}
body.testClass .container .row .col-6.form--section {
  padding-right: 0;
}

.col-6.avatar-canvas {
  padding: 0!important;
}

canvas#avatarCanvas {
  margin-top: 2rem;
}


#download {
  background-color: #BCC811;
  font-weight: bold;
  max-width: 200px;
  margin: 2rem auto;
}
        
.dropdown {
    display: flex;
    flex-direction: column;
  }
  .dropdown__menu {
    position: relative;
    display: flex;
    width: 240px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
  }
  .dropdown__menu::after {
    content: "\e92e";
    font-family: Feather;
    position: absolute;
    right: 10px;
  }

  .dropdown__content {
    width: 300px;
    height: 0;
    overflow-y: hidden;
    
  }
  .dropdown__content--active {
    height: auto;
    margin: 0 auto;
  }
  .dropdown__element {
    display: flex;
  }

  .dropdown__element input[type="radio"] {
    display: none;
  }
  .dropdown__element label {
    flex: 1 0;
    padding: 24px;
    cursor: pointer;
  }

.col-6.avatar-canvas {
  text-align: right;
}

select#formAccessoriesTwo {
  margin-top: 1.75rem;
}


/* Checkbox styles */
/* 

.checkLabel {
  display: inline-block;
  position: relative;
  padding: 0 32px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #E8E8E8;
}

.checkLabel:hover input ~ .checkmark {
  background-color: #E8E8E8;
}

.checkLabel input:checked ~ .checkmark {
  background-color: #BCC811;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkLabel input:checked ~ .checkmark:after {
  display: block;
}

.checkLabel .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

@media(max-width: 720px) {

    h1 {
        margin: 1rem 0;
    }

    .container .row {
        flex-direction: column;
    }

    .container .row .col-6 {
        text-align: center;
        width: 100%;
    }

    nav .container .row .col-6 {
      text-align: center;
    }
    nav .container .row .col-6.logo-col {
        margin-top: 1rem;
        text-align: center;
    }

    .download-button a {
      float: none;
    }
    body.testClass .container .row .col-6 {
      padding: initial;
  }

  .container .row.main--row {
    display: flex;
    flex-direction: column-reverse;
  }

  canvas#avatarCanvas {
    margin-top: initial;
}


}